<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azeem.ou_app2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".OneSignalNotification.OneSignalMainActivity"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/final_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3530664673183420~5059102094"/>

        <activity
            android:name=".MainScreen.VisitWebsite"
            android:exported="false" />
        <activity
            android:name=".RCV3.SelectedUserActivity"
            android:exported="false" />
        <activity
            android:name=".RCV3.MainActivity"
            android:exported="false"
            android:theme="@style/AppThemeForSearch" />
        <activity
            android:name=".MainScreen.TestFirebase"
            android:exported="false"
            android:noHistory="true" />
        <activity android:name=".MainScreen.JobsAndInternshipsMainActivity" />

        <meta-data
            android:name="com.onesignal.NotificationOpened.DEFAULT"
            android:value="DISABLE" />

        <activity android:name=".OneSignalNotification.OneSignalMainActivity" />
        <activity
            android:name=".RCV2.PracticePopUpWindow"
            android:theme="@style/AppTheme.CustomPopUpTheme" />
        <activity android:name=".MyScreens.MostAskedQuestionsInfyOne" />
        <activity android:name=".MainScreen.InterviewQuestions" />
        <activity android:name=".MainScreen.MCQSPractice" />
        <activity android:name=".MainScreen.AptitudePractice" />
        <activity android:name=".MainScreen.PrivacyPolicy" />
        <activity
            android:name=".MySplashScreen.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainScreen.VideoTutorials" /> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3530664673183420~5059102094" />

        <activity android:name=".MainScreen.ContactDeveloper" />
        <activity android:name=".MainScreen.myTempActivity2" />
        <activity android:name=".MainScreen.PlacementAndInterviews" />
        <activity
            android:name=".RCV2.PopUpWindow"
            android:theme="@style/AppTheme.CustomPopUpTheme" />
        <activity
            android:name=".RCV2.VideoPopUpWindow"
            android:theme="@style/AppTheme.CustomPopUpTheme" />
        <activity android:name=".MainScreen.MainActivity" />
        <activity
            android:name=".RCV2.RecyclerMainActivity"
            android:label=""
            android:theme="@style/AppThemeForSearch" />
        <activity android:name=".MainScreen.LabsAndViva" />
        <activity android:name=".MainScreen.PreviousQuestionPapers" />
        <activity android:name=".MainScreen.NotesAndReferences" />
    </application>

</manifest>